<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProcessLogin</servlet-name>
        <servlet-class>fa.edu.controller.ProcessLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessHome</servlet-name>
        <servlet-class>fa.edu.controller.ProcessHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessRegister</servlet-name>
        <servlet-class>fa.edu.controller.ProcessRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessBookDetail</servlet-name>
        <servlet-class>fa.edu.controller.ProcessBookDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessReadBook</servlet-name>
        <servlet-class>fa.edu.controller.ProcessReadBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessMyBook</servlet-name>
        <servlet-class>fa.edu.controller.ProcessMyBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessImage</servlet-name>
        <servlet-class>fa.edu.controller.ProcessImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessLogout</servlet-name>
        <servlet-class>fa.edu.controller.ProcessLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAddBook</servlet-name>
        <servlet-class>fa.edu.controller.ProcessAddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessBookList</servlet-name>
        <servlet-class>fa.edu.controller.admin.ProcessBookList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCreateBookPage</servlet-name>
        <servlet-class>fa.edu.controller.admin.ProcessCreateBookPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCreateNewBook</servlet-name>
        <servlet-class>fa.edu.controller.admin.ProcessCreateNewBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessDropBook</servlet-name>
        <servlet-class>fa.edu.controller.admin.ProcessDropBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessDropBookFromBookCase</servlet-name>
        <servlet-class>fa.edu.controller.ProcessDropBookFromBookCase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCreateAuthorPage</servlet-name>
        <servlet-class>fa.edu.controller.admin.ProcessCreateAuthorPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCreateAuthor</servlet-name>
        <servlet-class>fa.edu.controller.admin.ProcessCreateAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToCreatePublisherPage</servlet-name>
        <servlet-class>fa.edu.controller.admin.ProcessToCreatePublisherPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCreatePublisher</servlet-name>
        <servlet-class>fa.edu.controller.admin.ProcessCreatePublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToCreateCategoryPage</servlet-name>
        <servlet-class>fa.edu.controller.admin.ProcessToCreateCategoryPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCreateCategory</servlet-name>
        <servlet-class>fa.edu.controller.admin.ProcessCreateCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessLogin</servlet-name>
        <url-pattern>/ProcessLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessHome</servlet-name>
        <url-pattern>/ProcessHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessRegister</servlet-name>
        <url-pattern>/ProcessRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessBookDetail</servlet-name>
        <url-pattern>/ProcessBookDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessReadBook</servlet-name>
        <url-pattern>/ProcessReadBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessMyBook</servlet-name>
        <url-pattern>/ProcessMyBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessImage</servlet-name>
        <url-pattern>/ProcessImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessLogout</servlet-name>
        <url-pattern>/ProcessLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessAddBook</servlet-name>
        <url-pattern>/ProcessAddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessBookList</servlet-name>
        <url-pattern>/ProcessBookList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCreateBookPage</servlet-name>
        <url-pattern>/ProcessCreateBookPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCreateNewBook</servlet-name>
        <url-pattern>/ProcessCreateNewBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessDropBook</servlet-name>
        <url-pattern>/ProcessDropBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessDropBookFromBookCase</servlet-name>
        <url-pattern>/ProcessDropBookFromBookCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCreateAuthorPage</servlet-name>
        <url-pattern>/ProcessCreateAuthorPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCreateAuthor</servlet-name>
        <url-pattern>/ProcessCreateAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToCreatePublisherPage</servlet-name>
        <url-pattern>/ProcessToCreatePublisherPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCreatePublisher</servlet-name>
        <url-pattern>/ProcessCreatePublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToCreateCategoryPage</servlet-name>
        <url-pattern>/ProcessToCreateCategoryPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCreateCategory</servlet-name>
        <url-pattern>/ProcessCreateCategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginForm.jsp</welcome-file>
    </welcome-file-list>
</web-app>
